:root{
--main-color:#b1956e;
--hov-main-color:#ceb798;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.colored{
    color: var(--main-color) !important;
}

.heavy-colored{
    color: rgba(24, 14, 1, 0.8) !important;
}

.brwon{
    background-color: rgba(24, 14, 1, 0.8) !important;
}

.light-brown{
    background-color: #917a5a !important;
}

.roman-title{
    font-family: 'Times New Roman', Times, serif !important;
}


/***************************************************************************************************************/
/***************************************************************************************************************/

nav{
    opacity: 0.7 !important;
}

.navbar-brand{
    font-size: 35px !important;
    position: relative !important;
}

nav img{
    width: 50px !important;
    height: 50px !important;
}

.navbar-light .navbar-nav .nav-link,
nav .dropdown-menu .dropdown-item{
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
nav .dropdown-menu .dropdown-item:hover,
nav .dropdown-menu .dropdown-item:focus{
    color: var(--main-color) !important;
}

nav .dropdown-menu{
background-color: #ffffff9e !important;

}

nav .dropdown-toggle{
    width: fit-content !important;
    border: 1px var(--main-color) solid !important;
    border-radius: 15px !important;
    transition: 0.5s !important;
}

nav .dropdown-toggle::first-letter {
    transition: 0.5s !important;
}

nav .dropdown-toggle:hover::first-letter{
    font-size: large !important;
    color: black !important;
}

.btn{
    background-color: var(--main-color) !important;
    font-size:smaller !important;
    transition: 0.5s !important;
}

.btn:hover{
background-color:var(--hov-main-color) !important; 
}

.btn:focus{
    box-shadow: var(--hov-main-color) !important;
}

nav .form-control{
    width: 55% !important;
    border: 2.5px var(--main-color) solid !important;
}

nav .navbar-brand::after{
    content: "" !important;
    position: absolute !important;
    background-color: white !important;
    opacity: 1 !important;
    width: 1px !important;
    height: 75% !important;
    right: -5% !important;
    bottom: 10% !important;
    margin-right: 3% !important;
}

.header .modal-header button{
    background-color: var(--hov-main-color) !important;
}

.header .modal-body>input{
    border:solid 2px #917a5a !important;
    border-radius: 5px !important;
}

.form-check-input:checked {
    background-color: #917a5a !important;
    border-color: #917a5a !important;
}

@media(max-width:575px){
    nav form{
        flex-wrap: wrap !important;
    }
    nav .form-control{
        width: 100% !important;
        margin-bottom: 0.7em !important;
    }
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.icons{
    position: fixed !important;
    top: 25vh;
    right: 10vw;
    z-index: 1030 !important;
}

.icons i{
    color: var(--main-color) !important;
    font-size: 45px !important;
    transition: 0.5s !important;
}

.icons a:hover i {
color: var(--hov-main-color) !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.carousel img{
    height: 100vh !important;
    width: 100vw !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.w-auto {
    width: fit-content !important;
}

.h-auto{
    height: fit-content !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.fixedimg div{
    width: 100% !important;
    height: 50vh !important;
    background: url(../images/fixed.png) fixed !important;
    background-size: cover !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.cards1 .card .btn{
    z-index: 1000;
}

.cards1 .card .btn:hover {
    background-color: var(--main-color) !important;
}

.cards1 .card::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    transition: 1s;
    background-color: var(--hov-main-color);
    opacity: 0;
}

.cards1 .card{
    position: relative;
}

.cards1 .card::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: 1s;
    background-color: var(--hov-main-color);
    opacity: 0;
}

.cards1 .card:hover::before{
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

.cards1 .card:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.fixedimg2 div {
    width: 100% !important;
    height: 50vh !important;
    background: url(../images/fixed2.png) fixed !important;
    background-size: cover !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.cards2 .card{
    transform: scale(1.05);
    transition: 1s;
}

.cards2 .card:hover{
    transform: scale(1);
}

.cards2 .card:hover .card-img-overlay{
background-color: #ceb7986e;
}

.cards2 .card-img-overlay img{
    width: 80px;
    height: 100px;
    border: solid 2px rgb(212, 206, 206);
}

.cards2 .card-img-overlay{
    background-color: rgba(0, 0, 0, 0.61);
    transition: 1s;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.podcasts .card{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.podcasts .card .card-body p:first-of-type{
    position: relative !important;
}

.podcasts .card .card-body p:first-of-type::after{
    content: "" !important;
    position: absolute !important;
    background-color: rgba(24, 14, 1, 0.8) !important;
    height: 3px !important;
    width: 10% !important;
    left: 0 !important;
    bottom: -40% !important;
    transition: 0.5s !important; 
}

.podcasts .card:hover .card-body p:first-of-type::after{
    width: 15% !important;
}

.podcasts .card span{
    background-color: rgb(212, 206, 206) !important;
    transition: 1s !important; 
}

.podcasts .card span:hover{
    background-color: rgb(139, 137, 137) !important;
}

.podcasts img{
    transition: 0.5s !important;
}

.podcasts .card:hover img{
    transform: scale(1.075) !important;
}

.podcasts .second .card-body {
background: linear-gradient(to left, #ceb7985e, white) !important;
}

.podcasts .first .card-body {
    background: linear-gradient(to right, #ceb7985e, white) !important;
}

@media (min-width:992px){
    
    .podcasts .first img{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%) !important;
    }

    .podcasts .second img{
        clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%) !important;
    }

}

@media (max-width:991px){
    .podcasts .card {
        height: 400px !important;
    }
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.join-us img {
    width: 250px !important;
    height: 175px !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/

.footer img{
    width: 50px !important; 
    height: 50px !important;
}

.footer p{
    transition: 0.35s !important;
    cursor: pointer !important;
}

.footer p:hover{
    color: var(--main-color) !important;
}

/***************************************************************************************************************/
/***************************************************************************************************************/